<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="m.close()"><span aria-hidden="true">&times;</span></button>
    <h4>{{m.item.text}}</h4>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" class="form-control" ng-model="m.item.description">{{ m.item.description || ""}}</textarea>
        </div>
    </form>
</div>