<!-- <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="m.close()"><span aria-hidden="true">&times;</span></button>
    <h4>Deploy</h4>
</div>
<div class="modal-body" style="height:600px">
    <object style="width:100%;height:100%" type="text/html" data="../../../musa_tools/deployer/deploy.html"></object>
</div> -->
<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="m.close('Deploy')">
        <span aria-hidden="true">&times;</span>
    </button>
    <div ng-switch="m.item.status" class="full-height">
        <div ng-switch-when="DEPLOYED">
            <div ng-init="m.redirect(m.HostConfig.monitorHost + '/operator?appId='+ m.session.applicationId +'&componentId='+ m.item.cid + '&sso=' + m.localStorageService.get('sso.token'))"></div>
        </div>
        <div ng-switch-default class="full-height">
            <iframe ng-src="{{ m.HostConfig.deployerHost + 'deploy.html?appId=' + m.session.applicationId + '&appName=' + m.session.applicationName }}"
                width="100%" height="100%"></iframe>
        </div>
    </div>
</div>