<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="m.close()"><span aria-hidden="true">&times;</span></button>
    <h4>Execute deployment</h4>
</div>
<div class="modal-body" style="height:600px">
    <object style="width:100%;height:100%" type="text/html" data="../../../musa_tools/deployer/deploy.html"></object>
</div>
