<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="m.close('Model')"><span aria-hidden="true">&times;</span></button>
    <iframe ng-src="{{ m.HostConfig.modellerHost + 'MUSA_IDE_Modeller.html?appId=' + m.session.applicationId + '&appName=' + m.session.applicationName }}"
        width="100%" height="100%"></iframe>
</div>