<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="m.close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4>Redirecting....</h4>
</div>
<div class="modal-body" ng-init="m.redirect(m.HostConfig.monitorHost + '/operator?appId='+ m.session.applicationId +'&componentId='+ m.item.cid + '&sso=' + m.localStorageService.get('sso.token'))">
</div>