<!-- <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="m.close()"><span aria-hidden="true">&times;</span></button>
    <h4>Implementation plan</h4>
</div>
<div class="modal-body" style="height:600px">
    <object style="width:100%;height:100%" type="text/html" data="../../../musa_tools/deployer/plan.html"></object>
</div> -->
<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="m.close('Plan Deployment')">
        <span aria-hidden="true">&times;</span>
    </button>
    <iframe ng-src="{{ m.HostConfig.deployerHost + 'plan.html?appId=' + m.session.applicationId + '&appName=' + m.session.applicationName }}"
        width="100%" height="100%"></iframe>
</div>