<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="m.close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <iframe ng-src="{{ m.HostConfig.riskHost + 'index.html#/riskprofile' }}" frameborder="0"></iframe>
</div>
</div>