<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="m.close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="col-lg-3 pull-right">
        Show only suggested Security Controls&nbsp;
        <toggle-switch ng-model="m.showOnlySuggested" on-label="Yes" off-label="All" class="switch-small switch-success"></toggle-switch>
    </div>
    <h4>Security Controls Selection for {{m.item.text}}</h4>
</div>
<div class="modal-body">
    <span>
    </span>
    <div class="form-group" ng-init="m.item.addedRiskSecurities = !!m.item.addedRiskSecurities ? m.item.addedRiskSecurities : []">
        <label for="securityRequirement">Choose Threat and coresponding corresponding Security Control</label>
        <div class="row">
            <div class="col-lg-5">
                <ui-select ng-model="m.addToRisk" theme="bootstrap" on-select="m.onThreatChange()">
                    <ui-select-match placeholder=" Choose threat... ">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="r in (m.item.risks | filter: {name: $select.search}) track by $index ">
                        <span ng-bind-html="r.name | highlight: $select.search "></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-lg-6 " ng-init="m.fetchData( 'slaeditor/control', 'securityControls') ">
                <!--<select class="form-control " ng-model="m.sR " ng-options="s as s.id + ' - ' + s.name group by s.family
                    for s in m.securityControls "
                    placeholder="Select Risk Requirement "></select>-->
                <ui-select ng-model="m.sR " theme="bootstrap">
                    <ui-select-match placeholder="Choose Security Controls... ">{{$select.selected.id + ' - ' + $select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="r in (m.securityControls | filter: $select.search | filter: m.securityControlFilter)
                    track by $index ">
                        <span ng-bind-html="r.id + ' - ' + r.name | highlight: $select.search "></span>
                        <br />
                        <i>
                            <small style="white-space: normal" ng-bind-html="r.description | highlight: $select.search">
                            </small>
                        </i>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-lg-1 ">
                <button class="btn btn-success pull-right " ng-click="m.pushToArray(m.addToRisk.sR, m.sR, 'id', m.sR.id); m.fetchCcmControls(m.addToRisk, m.sR); m.logStat(m.addToRisk, m.addToRisk.sR, m.sR)">Add</button>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered ">
        <thead>
            <tr>
                <td>Threats</td>
                <td>Security Controls
                    <div class="col-lg-4 pull-right">
                        Show Description:
                        <toggle-switch ng-model="m.showDescriptions" on-label="Yes" off-label="No" class="switch-mini switch-success"></toggle-switch>
                    </div>
                </td>
                <td>Risk Mitigation (ROAM) Status
                    <span class="glyphicon glyphicon-question-sign" uib-popover-html="'
                    <ul>
                        <li><span><strong>Resolved </strong>- the risk has been answered and avoided or eliminated.</span></li>
                        <li><span><strong>Owned</strong> – the risk has been allocated to someone who has responsibility for doing something about it.</span></li>
                        <li><span><strong>Accepted </strong>- the risk has been accepted and it has been agreed that nothing will be done about it.</span></li>
                        <li><span><strong>Mitigated</strong><strong>&nbsp;</strong>- action has been taken so the risk has been mitigated, either reducing the likelihood or reducing the impact.</span></li>
                        </ul>
                    '" popover-placement="left" popover-title="ROAM stands for:"></span>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="risk in m.item.risks">
                <td>{{ risk.name }}</td>
                <td>
                    <div ng-repeat="sR in risk.sR" ng-hide="m.showDescriptions">
                        <span class=" label label-info sR ">{{ sR.id }} - {{sR.name}}</span>
                        <br>
                    </div>
                    <div class="panel panel-info " ng-repeat="sR in risk.sR " ng-show="m.showDescriptions ">
                        <div class="panel-heading ">
                            <strong>{{sR.id}}</strong> - {{sR.name}}
                        </div>
                        <div class="panel-body "> {{sR.description}} </div>
                    </div>
                </td>
                <td>
                    <!--<span class="label label-danger " ng-show="risk.sR.length <=0 ">Needs Mitigation</span>
                    <span class="label label-warning " ng-show="risk.sR.length>= 1 && risk.sR.length
                        < 2 ">Partially Mitigated</span>
                    <span class="label label-success " ng-show="risk.sR.length>= 2">Mostly Mitigated</span>-->
                    <!-- <div class="btn-group">
                        <label class="btn btn-primary btn-sm" ng-model="risk.roam" uib-btn-radio="'Resolved'">Resolved</label>
                        <label class="btn btn-info btn-sm" ng-model="risk.roam" uib-btn-radio="'Owned'">Owned</label>
                        <label class="btn btn-success btn-sm" ng-model="risk.roam" uib-btn-radio="'Accepted'">Accepted</label>
                        <label class="btn btn-warning btn-sm" ng-model="risk.roam" uib-btn-radio="'Mitigated'">Mitigated</label>
                    </div> -->
                    <div class="roam-wrapper">
                        <table class="roam">
                            <tr>
                                <td class="btn-primary" ng-model="risk.roam" uib-btn-radio="'Resolved'">
                                    <div class="resolved">Resolved</div>
                                </td>
                                <td class="btn-info" ng-model="risk.roam" uib-btn-radio="'Owned'">
                                    <div class="owned">Owned</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="btn-success" ng-model="risk.roam" uib-btn-radio="'Accepted'">
                                    <div class="accepted">Accepted</div>
                                </td>
                                <td class="btn-warning" ng-model="risk.roam" uib-btn-radio="'Mitigated'">
                                    <div class="mitigated">Mitigated</div>
                                </td>
                            </tr>
                        </table>
                        <!-- <div class="cicle"></div> -->
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>