<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="m.close()"><span aria-hidden="true">&times;</span></button>
    <h4>Security Requirements Identification for {{m.item.text}}</h4>
</div>
<div class="modal-body">
    <span>
    </span>
    <div class="form-group" ng-init="m.item.addedRiskSecurities = !!m.item.addedRiskSecurities ? m.item.addedRiskSecurities : []">
        <label for="securityRequirement">Choose Secrity Requirement coresponding to the risks</label>
        <div class="row">
            <div class="col-lg-5">
                <ui-select ng-model="m.addToRisk" theme="bootstrap">
                    <ui-select-match placeholder="Choose threat...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="r in (m.item.risks | filter: {name: $select.search}) track by $index">
                        <span ng-bind-html="r.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-lg-6" ng-init="m.fetchData('slaeditor/control', 'securityControls')">
                <!--<select class="form-control" ng-model="m.sR" ng-options="s as s.id + ' - ' + s.name group by s.family for s in m.securityControls"
                    placeholder="Select Risk Requirement"></select>-->
                <ui-select ng-model="m.sR" theme="bootstrap">
                    <ui-select-match placeholder="Choose threat...">{{$select.selected.id + ' - ' + $select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="r in (m.securityControls | filter: $select.search) track by $index">
                        <span ng-bind-html="r.id + ' - ' + r.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-lg-1">
                <button class="btn btn-success pull-right" ng-click="m.pushToArray(m.addToRisk, m.sR)">Add</button>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>Risks</td>
                <td>Security Requirements</td>
                <td>Risk Mitigation Status</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="risk in m.item.risks">
                <td>{{ risk.name }}</td>
                <td>
                    <div ng-repeat="sR in risk.sR">
                        <span class="label label-info sR">{{ sR.id }}</span>
                    </div>
                </td>
                <td>
                    <span class="label label-danger" ng-show="risk.sR.length <= 1">Needs Mitigation</span>
                    <span class="label label-warning" ng-show="risk.sR.length > 1 && risk.sR.length < 3">Partially Mitigated</span>
                    <span class="label label-success" ng-show="risk.sR.length > 2">Mostly Mitigated</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>