<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="m.close('Service Selection')">
        <span aria-hidden="true">&times;</span>
    </button>
    <span class="label label-warning pull-right give-some-space">
        <span class="glyphicon glyphicon-info-sign"></span> Double click to select deployment</span>
    <h4>Service Selection</h4>

</div>
<div class="modal-body" ng-controller="ServiceSelectionController as ss">
    <h3 ng-hide="ss.deployments.length" class="col-center">Loading...</h3>
    <div class="row space">
        <div class="col-md-12 text-center">
            <button class="btn btn-default" ng-init="showLastSelection = false" ng-click="showLastSelection = !showLastSelection" ng-hide="noLastSelection()">Show Last Selection</button>
        </div>
        <div class="lastSelection well" ng-show="showLastSelection">
            <table class="table">
                <tr>
                    <td>
                        <h4>
                            <span class="label label-info">Deployment Score:
                                <span class="badge">{{ ss.lastSelection.score }}%</span>
                            </span>
                        </h4>
                    </td>
                    <td ng-repeat="service in ss.lastSelection.data">
                        <div class="row">
                            <div class="col-lg-4">
                                <img ng-src="{{ service.service.data.Provider.ImageUrl }}" class="provider-logo" />
                            </div>
                            <div class="col-lg-8">
                                <p>
                                    <small>
                                        <strong>VM Name: </strong>
                                    </small> {{ service.vmName }}
                                </p>
                                <p>
                                    <small>
                                        <strong>Service Provider: </strong>
                                    </small> {{ service.service.data.Name }}
                                </p>
                                <p>
                                    <small>
                                        <strong>Location: </strong>
                                    </small> {{ service.service.data.Provider.Location }} &nbsp;
                                    <img src="https://www.easa.europa.eu/sites/all/themes/easa_foundation/images/eu_flag_small.png" />
                                </p>
                            </div>
                        </div>
                        <!-- <hr>
                    <p ng-init="data = ss.getSecurityControlForComponents(service.service.ccmAlignment, service.component)">
                        <bar-chart ng-hide="ss.noResults(data)" data="data" width="250" height="400"></bar-chart>
                        <div ng-show="details && ss.noResults(data)" class="label label-danger">No Risk Assessment Profile Detected!</div>
                    </p> -->
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item deployment" ng-repeat="deployment in ss.deployments | orderBy: '-score' | limitTo: 40" ng-class="{selected: ss.selected == deployment}"
            ng-dblclick="ss.selected = deployment; ss.saveSelectedDeployment(deployment)">
            <table class="table">
                <tr>
                    <td>
                        <h4>
                            <span class="label label-info">Deployment Score:
                                <span class="badge">{{ deployment.score }}%</span>
                            </span>
                        </h4>
                        <button class="btn btn-default" ng-click="details = !details">Show Details</button>
                    </td>
                    <td ng-repeat="service in deployment.data">
                        <div class="row">
                            <div class="col-lg-4">
                                <img ng-src="{{ service.service.data.Provider.ImageUrl }}" class="provider-logo" />
                            </div>
                            <div class="col-lg-8">
                                <p>
                                    <small>
                                        <strong>VM Name: </strong>
                                    </small> {{ service.vmName }}
                                </p>
                                <p>
                                    <small>
                                        <strong>Service Provider: </strong>
                                    </small> {{ service.service.data.Name }}
                                </p>
                                <p>
                                    <small>
                                        <strong>Location: </strong>
                                    </small> {{ service.service.data.Provider.Location }} &nbsp;
                                    <img src="https://www.easa.europa.eu/sites/all/themes/easa_foundation/images/eu_flag_small.png" />
                                </p>
                            </div>
                        </div>
                        <hr ng-show="details">
                        <p ng-show="details" ng-init="data = ss.getSecurityControlForComponents(service.service.ccmAlignment, service.component)">
                            <bar-chart ng-hide="ss.noResults(data)" data="data" width="250" height="400"></bar-chart>
                            <div ng-show="details && ss.noResults(data)" class="label label-danger">No Risk Assessment Profile Detected!</div>
                        </p>
                    </td>
                </tr>
            </table>
        </li>
    </ul>
</div>