<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="m.close('SLA')">
        <span aria-hidden="true">&times;</span>
    </button>
    <iframe ng-src="{{ m.HostConfig.slaGeneratorHost + '#/appsetup?appId='+ m.session.applicationId +'&componentId='+ m.item.cid}}"
        width="100%" height="100%"></iframe>
</div>