<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="m.close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4>STRIDE based Risk Assessment for {{m.item.text}}</h4>
</div>
<div class="modal-body" ng-init="m.item.risks = !!m.item.risks ? m.item.risks : []">
    <div class="row" ng-init="m.fetchData('slaeditor/stride', 'strideCategories')">
        <!--<div class="col-lg-12">
            <label for="threats">Choose or add threats</label>
        </div>-->
    </div>
    <div class="row form-group">
        <div class="col-lg-11" ng-init="m.fetchData('slaeditor/threat', 'threats')">
            <ui-select ng-model="m.currentThreat" theme="bootstrap">
                <ui-select-match placeholder="Search a threat...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices group-by="'strideName'" repeat="threat in (m.threats | filter: {name: $select.search}) track by $index">
                    <span ng-bind-html="threat.name | highlight: $select.search"></span>
                    <br />
                    <small style="white-space: normal">
                        <i>
                            {{ threat.description }}</i>
                    </small>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-lg-1">
            <button class="btn btn-success pull-right" ng-click="m.pushToArray(m.item.risks, m.currentThreat, 'name', m.currentThreat.name); m.sumOwasp(); m.logStat(m.item, m.item.risks, m.currentThreat);">Add</button>
        </div>
    </div>
    <div ng-repeat="stride in m.strideCategories | orderBy:m.orderByStride">
        <h3>
            <small>{{ stride.name }}
                <span class="label label-default" ng-show="!(m.item.risks | filter: {strideId: stride.id}).length">No threats were defined</span>
            </small>
        </h3>
        <uib-accordion>
            <uib-accordion-group ng-repeat="risk in m.item.risks | filter: {strideId: stride.id }">
                <uib-accordion-heading>
                    {{ risk.name }}
                    <span class="label label-success pull-right" ng-show="m.calculateRiskSeverity(risk.name, 'low')">LOW SEVERITY</span>
                    <span class="label label-warning pull-right" ng-show="m.calculateRiskSeverity(risk.name, 'medium')">MEDIUM SEVERITY</span>
                    <span class="label label-danger pull-right" ng-show="m.calculateRiskSeverity(risk.name, 'high')">HIGH SEVERITY</span>

                </uib-accordion-heading>
                <div class="row">
                    <div class="col-lg-11">
                        <h4>Threat Description</h4>
                    </div>
                    <div class="col-lg-1">
                        <button class="btn btn-xs btn-danger pull-right" ng-click="m.removeItem(m.item.risks, risk)">
                            <span class="glyphicon glyphicon-remove"></span>
                            Remove Threat
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{risk.description}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6" ng-repeat="group in m.item.OWASPModel">
                        <h3>{{ group.name }}:
                            <div class="label" ng-class="
                            {
                            'label-success': risk[group.name] * 0.125 < 3,
                            'label-warning': risk[group.name] * 0.125 < 6 && risk[group.name] * 0.125 >= 3,
                            'label-danger': risk[group.name] * 0.125 >= 6
                            }
                            ">
                                <span ng-if="risk[group.name] < 24">Low</span>
                                <span ng-if="risk[group.name] >= 24 && risk[group.name] < 48 ">Medium</span>
                                <span ng-if="risk[group.name] >= 48">High</span> ({{risk[group.name] * 0.125 || 0}})</div>
                        </h3>
                        <div class="row">
                            <div class="col-lg-6" ng-repeat="subgroup in group.children">
                                <h4>{{ subgroup.name }}</h4>
                                <table class="table">
                                    <tbody>
                                        <tr ng-repeat="subsubgroup in subgroup.children">
                                            <td>
                                                <strong>{{ subsubgroup.name }}</strong>
                                                <!--<td><input class="" type="number" min="0" max="9" ng-value="risk.owasp[subsubgroup.id] || subsubgroup.value[risk.name] || 0" ng-model="risk.owasp[subsubgroup.id]" ng-change="m.sumOWASP()"></td>-->
                                                <rzslider rz-slider-model="risk.owasp[subsubgroup.id]" rz-slider-options="m.slider.options"></rzslider>
                                                <br>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-accordion-group>
        </uib-accordion>
    </div>
</div>