<div class="modal-header" ng-init="m.fetchData('slaeditor/stride', 'strideCategories')">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="m.close()"><span aria-hidden="true">&times;</span></button>
    <h4>Summary of Risk Assessment for {{m.item.text}}</h4>
</div>
<div class="modal-body">
    <p><strong>Component Description:</strong> <br> {{ m.item.description }} <br></p>
    <div ng-repeat="stride in m.strideCategories | orderBy:m.orderByStride">
        <h3>
            <small>{{ stride.name }}
                <span class="label label-default" ng-show="!(m.item.risks | filter: {strideId: stride.id}).length">No threats were defined</span>
            </small>
        </h3>
        <uib-accordion>
            <uib-accordion-group ng-repeat="risk in m.item.risks | filter: {strideId: stride.id }" is-disabled="risk.roam == 'Resolved'">
                <uib-accordion-heading>
                    Threat:
                    <strong>
                        {{ risk.name }}
                    </strong>
                    <span class="label label-primary pull-right label-space" ng-show="risk.roam == 'Resolved'">RESOLVED</span>
                    <span class="label label-info pull-right label-space" ng-show="risk.roam == 'Owned'">OWNED</span>
                    <span class="label label-success pull-right label-space" ng-show="risk.roam == 'Accepted'">ACCEPTED</span>
                    <span class="label label-warning pull-right label-space" ng-show="risk.roam == 'Mitigated'">MITIGATED</span>
                    <span class="label label-danger pull-right label-space" ng-show="!risk.roam">Not treated!</span>
                    <span class="label label-success pull-right label-space label-arrow label-arrow-right" ng-show="m.calculateRiskSeverity(risk.name, 'low') && risk.roam != 'Resolved'">LOW SEVERITY</span>
                    <span class="label label-warning pull-right label-space label-arrow label-arrow-right" ng-show="m.calculateRiskSeverity(risk.name, 'medium') && risk.roam != 'Resolved'">MEDIUM SEVERITY</span>
                    <span class="label label-danger pull-right label-space label-arrow label-arrow-right" ng-show="m.calculateRiskSeverity(risk.name, 'high') && risk.roam != 'Resolved'">HIGH SEVERITY</span>
                </uib-accordion-heading>
                <div class="row">
                    <div class="col-lg-12">
                        <h4>
                            <div class="label pull-right label-space" ng-class="
                                {
                                'label-success': risk.impact * 0.125 < 3,
                                'label-warning': risk.impact * 0.125 < 6 && risk.impact * 0.125 >= 3,
                                'label-danger': risk.impact * 0.125 >= 6
                                }
                                " ng-show="risk.roam != 'Resolved'">
                                IMPACT:
                                <span ng-if="risk.impact < 24">Low</span>
                                <span ng-if="risk.impact >= 24 && risk.impact < 48 ">Medium</span>
                                <span ng-if="risk.impact >= 48">High</span>
                            </div>
                            <div class="label pull-right label-space" ng-class="
                                {
                                'label-success': risk.likelihood * 0.125 < 3,
                                'label-warning': risk.likelihood * 0.125 < 6 && risk.likelihood * 0.125 >= 3,
                                'label-danger': risk.likelihood * 0.125 >= 6
                                }
                                " ng-show="risk.roam != 'Resolved'">
                                LIKELIHOOD:
                                <span ng-if="risk.likelihood < 24">Low</span>
                                <span ng-if="risk.likelihood >= 24 && risk.likelihood < 48 ">Medium</span>
                                <span ng-if="risk.likelihood >= 48">High</span>
                            </div>

                        </h4>
                        <strong>Threat Description: <br> </strong> {{risk.description}}
                    </div>
                </div>
                <div class="row">
                    <hr>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Security Controls</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="panel panel-info" ng-repeat="sR in risk.sR">
                                        <div class="panel-heading">
                                            <strong>{{sR.id}}</strong> - {{sR.name}}
                                        </div>
                                        <div class="panel-body">
                                            <strong>Security Control Description:</br></strong> {{sR.description}}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </uib-accordion-group>
        </uib-accordion>
    </div>
</div>