<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" ui-sref="kanban">
            <img src="http://www.tut.fi/musa-project/wp-content/uploads/2015/07/cropped-MUSA-logo-square1.png" alt="MUSA"> MUlti-cloud Secure Applications</a>
        <div class="navbar-right move-down give-some-space">
            <button ng-click="k.Auth.logout();" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                <span class="glyphicon glyphicon-log-out"></span>
            </button>
        </div>
        <div class="navbar-right give-some-space">
            <h5>
                <small>
                    User:
                </small>
                <div>{{ k.Auth.profile.user_metadata.name }}</div>
            </h5>
        </div>
        <div class="navbar-right give-some-space">
            <h5>
                <small>Application Name:</small>
                <div editable-text="k.currentSession.applicationName" onaftersave="k.updateSession()">{{k.currentSession.applicationName}} (id: {{ k.currentSession.applicationId }})</div>
            </h5>
        </div>
        <div class="move-down">
            <button class="btn btn-success navbar-right give-some-space" ng-click="k.clearSession()" data-toggle="tooltip" data-placement="bottom"
                title="Tooltip on bottom">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <div class="form-group form-inline navbar-right">
                <button class="btn btn-success" ng-click="k.changeSessionTo(k.newSessionId)">Switch to App Id: </button>
                <select ng-model="k.newSessionId" class="form-control" ng-options="k for k in k.sessionIds"></select>
            </div>
        </div>
    </div>
</nav>
<div class="content-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-fixed">
                <tr>
                    <td as-sortable="k.dragOptions()" ng-model="column.items" ng-repeat="column in k.currentSession.columns">
                        <div context-menu="k.menuOptions">
                            <!--<strong class="column">{{column.name || "NOK" }}</strong>-->
                            <button class="btn btn-default" ng-click="k.showDetails(k.currentSession, null, column.name)" ng-disabled="k.noComponents(column.name)">{{ column.name || "NOK" }}</button>
                            <button class="btn btn-default pull-right" ng-click="k.showDetails(k.currentSession, null, 'Monitor')" ng-disabled="k.noComponents(column.name)"
                                ng-show="$last">Monitor</button>
                            <button class="btn btn-success btn-xs pull-right" ng-click="k.updateComponentsFromMACM()" ng-disabled="k.noComponents(column.name)"
                                ng-show="$first && k.noComponentsInAll()">Load Components</button>
                            <!-- <button class="btn btn-xs btn-success pull-right" ng-show="$first" ng-click="k.addItem(column)"><span class="glyphicon glyphicon-plus"></span> Add Component</button> -->
                        </div>
                        <hr>
                        <div as-sortable-item ng-repeat="item in column.items">
                            <div as-sortable-item-handle class="well" ng-class="{'critical': (!!item['statusOK'] && !item['statusOK'][column.name]) || false, 'warning': (!!item['statusOK'] && item['statusOK'][column.name] == 'warning') || false}">
                                <button class="btn btn-xs btn-primary pull-right" ng-click="k.showDetails(k.currentSession, item, column.name)" ng-show="k.showDetailsButton(column.name)">Details</button>
                                <!-- <button class="sR btn btn-xs btn-danger pull-right" ng-show="$parent.$parent.$first" ng-click="k.removeItem(column.items, $index)"><span class="glyphicon glyphicon-remove"></span></button> -->
                                <div onaftersave="k.updateSession()">
                                    {{item.text}}
                                </div>
                                <hr class="compact">
                                <div ng-show="(!!item['statusOK'] && !item['statusOK'][column.name]) || false">
                                    <button class="btn btn-xs btn-danger pull-right" disabled>
                                        <span class="glyphicon glyphicon-warning-sign"></span>
                                        <small>
                                            {{ k.Validation.validationMessage(column.name) }}
                                        </small>
                                    </button>
                                    <br>
                                </div>
                                <small>Host:
                                    <strong>
                                        {{item.deploymentMachine.name || "Not specified!"}}
                                    </strong>
                                </small>
                                <br>
                                <small>Location:
                                    <strong>
                                        {{item.deploymentMachine.location || "Not specified!"}}
                                    </strong>
                                </small>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>