<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" ui-sref="kanban"><img src="http://www.tut.fi/musa-project/wp-content/uploads/2015/07/cropped-MUSA-logo-square1.png" alt="MUSA"> Risk
            Assessment
        </a>
    </div>
</nav>
<div class="content-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-fixed">
                <tr>
                    <td as-sortable="r.dragOptions()" ng-model="column.items" ng-repeat="column in r.riskProfile">
                        <strong>{{column.name || "Change Me!" }}</strong>
                        <hr>
                        <div as-sortable-item ng-repeat="item in column.items">
                            <div as-sortable-item-handle class="well">
                                <!--<button class="btn btn-xs btn-success pull-right" ng-click="r.showDetails(item, column.name)" ng-show="column.name == 'Validation' && r.itemMitigationLevel(item, 'low')">Send to SLA Generator</button>-->
                                <button class="btn btn-xs btn-primary pull-right" ng-click="r.showDetails(item, column.name)">Details</button>{{item.text}}
                                <hr>
                                <small ng-show="column.name == 'Components Description'">{{ item.description }}</small>
                                <div ng-hide="column.name == 'Components Description'" class="pull-right">
                                    <span class="label label-danger" ng-show="r.countThreats(item) >= 0">{{r.countThreatsMessage(item)}}</span>
                                    <span class="label label-success" ng-show="r.countThreats(item) < 0">Threats addressed</span>
                                </div>
                                <div ng-show="column.name == 'STRIDE based Risk Assessment'">
                                    <span class="label label-danger" ng-show="r.itemRiskSeverity(item, 'no')">Analysis Needed!</span>
                                    <span class="label label-danger" ng-show="r.itemRiskSeverity(item, 'high')">High Severity</span>
                                    <span class="label label-warning" ng-show="r.itemRiskSeverity(item, 'medium')">Medium Severity</span>
                                    <span class="label label-success" ng-show="r.itemRiskSeverity(item, 'low')">Low Severity</span>
                                </div>
                                <div ng-hide="column.name == 'Components Description' || column.name == 'STRIDE based Risk Assessment'">
                                    <span class="label label-danger" ng-show="r.itemRiskSeverity(item, 'no')">Analysis Needed!</span>
                                    <span class="label label-danger" ng-show="r.itemRiskSeverity(item, 'high')">High Severity</span>
                                    <span class="label label-warning" ng-show="r.itemRiskSeverity(item, 'medium')">Medium Severity</span>
                                    <span class="label label-success" ng-show="r.itemRiskSeverity(item, 'low')">Low Severity</span>
                                    <!-- <span class="label label-danger" ng-show="r.itemMitgationLevel(item, 'no')">Analysis Needed!</span>
                                    <span class="label label-danger" ng-show="r.itemMitgationLevel(item, 'high')">Needs mitigation</span>
                                    <span class="label label-warning" ng-show="r.itemMitigationLevel(item, 'medium')">Parially mitigated</span>
                                    <span class="label label-success" ng-show="r.itemMitigationLevel(item, 'low')">Mostly mitigated</span> -->
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>